.r {
    background-color: black;
}

.f {
    background-color: rgb(15, 163, 44);
}

.g {
    background-color: rgb(88, 60, 131);
}

.a {
    background-color: rgb(150, 135, 55);
}

.e {
    background-color: cadetblue;
}

.c {
    background-color: coral;
}

.m {
    background-color: grey;
}